body {
  padding: 0;
}

#tabs {
  text-align: center; /* centre tabs once they're set to inline-block */
  padding: 20px 0 0 0;
  background-color: #F4E7FC; /* purple tab bar */
}

#tabs > li {
  float: none; /* stop tabs floating to left */
  display: inline-block; /* line tabs up horizontally - won't work in IE7 */
}

#tabs a {
  color: #A070BB; /* purple links in tab bar */
}

#tabs a:hover {
  background-color: #E8D4F5;
  color: #796086; /* darker purple tab bar links on hover */
  border-color: #e8d4f5 #e8d4f5 #ddd;
}

#tabs .active a {
  background-color: #fff;
  color: #555; /* reset selected tab bar link to default Bootstrap styling */
  border-color: #ddd #ddd #fff;
}

#my-tab-content {
  width: 800px;
  margin: 0 auto; /* centre the tab content */
}

#download .btn {
  width: 50%;
}

#download {
  text-align: center;
}

#python-code {
  font-family: monospace;
  font-size: x-small;
}

pre.collapsed {
  overflow-y: scroll;
  height: 60px;
}
